@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Products";
}
@model List<Product>
<h1>Products</h1>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Actions</th>
    </tr>
    @foreach (Product p in Model)
    {
        <tr>
            <td>@p.Id</td>
            <td>@p.Name</td>
            <td>@p.Price</td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@p.Id">Edit</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@p.Id" onclick="return confirm('Delete @p.Name?');">Delete</a>
            </td>
        </tr>
    }
</table>
